<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateral.lateral">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:exported="true" />

        <activity
            android:name=".activity.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.RequestedTasksViewActivity"
            android:label="@string/title_activity_requested_tasks_view"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Just added this -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.AllTasksViewActivity" />

        </activity>

        <activity
            android:name=".activity.AssignedAndBiddedTasksViewActivity"
            android:label="@string/title_activity_assigned_and_bidded_tasks_view"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Just added this -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.AllTasksViewActivity" />

        </activity>


        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:name=".activity.AllTasksViewActivity"
            android:label="@string/title_activity_all_tasks_view"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".activity.TaskViewActivity"
            android:label="Task" />

        <activity android:name=".activity.AddEditTaskActivity" />

        <activity android:name=".activity.MyTaskViewActivity"></activity>
    </application>

</manifest>