<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateral.lateral">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.
   READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6cZ7Tn_OFF6wfnwRpvtiZF0RHAjB5xf0" />
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RequestedTasksViewActivity"
            android:label="@string/title_activity_requested_tasks_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Just added this -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.AllTasksViewActivity" />
        </activity>
        <activity
            android:name=".activity.AssignedAndBiddedTasksViewActivity"
            android:label="@string/title_activity_assigned_and_bidded_tasks_view"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Just added this -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.AllTasksViewActivity" />
        </activity>
        <activity
            android:name=".activity.AllTasksViewActivity"
            android:exported="true"
            android:label="@string/title_activity_all_tasks_view"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.TaskViewActivity"
            android:label="Task" />
        <activity android:name=".activity.AddEditTaskActivity" />
        <activity
            android:name=".activity.MyTaskViewActivity"
            android:label="@string/title_activity_my_task_view"
            android:parentActivityName=".activity.RequestedTasksViewActivity" />
        <activity
            android:name=".activity.BidListActivity"
            android:parentActivityName=".activity.MyTaskViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MyTaskViewActivity" />
        </activity>
        <activity android:name=".activity.EditUserActivity" />
        <activity android:name=".activity.QRCodeActivity" />
        <activity android:name=".barcodereader.BarcodeCaptureActivity" />
        <activity android:name=".activity.EditUserActivity" />

        <service
            android:name=".service.Notification.NewBidNotificationService"
            android:label="New Bid Notification Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".service.Notification.StartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.DisplayQRCodeActivity" />
        <activity android:name=".activity.MapActivity"></activity>
    </application>

</manifest>